[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Jinja2 = "*"
docxtpl = "*"
python-docx = "*"
spacy = "*"
yake = "*"
find-job-titles = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"

[requires]
python_version = "3.8"
