[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Jinja2 = "*"
docxtpl = "0.11.4"
python-docx = "0.8.10"
spacy = "2.3.5"
en_core_web_sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz"}
yake = "*"
find-job-titles = "0.7.0"
fastapi = "0.63.0"
uvicorn = "0.13.4"
pydantic = "1.8.2"
aiofiles = "*"

[requires]
python_version = "3.8"
